## II. EXERCISE

In [3]:
import pandas as pd

In [6]:
data = pd.read_csv('data/air_quality.csv')

In [7]:
data.head()

         date     ozone       pm25        co
0  1999-07-01  0.012024  20.000000  1.300686
1  1999-07-02  0.027699  23.900000  0.958194
2  1999-07-03  0.043969  36.700000  1.194444
3  1999-07-04  0.035162  39.000000  1.081548
4  1999-07-05  0.038359  28.171429  0.939583